<div class="categories" *ngIf="categories?.length; else empty">
  <div class="category-item" *ngFor="let c of categories; trackBy: trackById">
    <div [routerLink]="['/buy-dry-fruits', c.name, c.id]">
      <div class="img-wrap">
        <img [src]="categoryIconSrc(c)" [alt]="c.name" loading="lazy" (error)="$any($event.target).src='assets/logo.png'" />
      </div>
      <div class="name">{{ c.name }}</div>
    </div>
  </div>
</div>

<ng-template #empty>
    <div class="empty">No categories</div>
</ng-template>